.git
.gitignore
.github
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
DEPLOY.md
storage
bootstrap/cache/*
!bootstrap/cache/.gitignore
vendor
tests
.phpunit.cache
.idea
.vscode
*.log

